<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Request</span>
            <p><b>From:</b> {{model.xI}}, {{model.yI}}</p>
            <p><b>To:</b> {{model.xF}}, {{model.yF}}</p>
            <p><b>Status:</b> {{model.status}}</p>
          </div>
          <div class="card-action">
            <a href="#">Cancel</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
