<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m12">
        <table>
          <thead>
            <tr>
              <th data-field="state">State</th>
              <th data-field="xstart">xstart</th>
              <th data-field="ystart">ystart</th>
              <th data-field="xend">xend</th>
              <th data-field="yend">yend</th>
            </tr>
          </thead>

          <tbody>
            <!-- {{#each request in model}}
              <tr>
                <td>{{request.state}}1</td>
                <td>{{request.xI}}</td>
                <td>{{request.yI}}</td>
                <td>{{request.xF}}</td>
                <td>{{request.yF}}</td>
              </tr>
            {{/each}} -->
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
